body, button, input {
  --highlight-color: #D8AF67;
  --secondary-color: #262626;
  background-color: black;
  margin: 0;
  font-family: 'EB Garamond', 'Georgia', serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: 400;
  color: var(--highlight-color);
}

h3 {
  margin: 0.2em 0 0.2em;
  font-size: 16px;
}

button {
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid gray;
  cursor: pointer;
}

input {
  outline:none;
}

input[type="date"] {
  background: none;
  border: 0.5px solid gray;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.date-input {
  box-sizing: border-box !important;
  padding: 0 !important;
}

.date-clear-button::after {
  background: grey !important;
}

input[type="checkbox"] {
  appearance: none;
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid var(--highlight-color);
  transform: rotate(45deg);
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--highlight-color);
}

input[type="range"] {
  appearance: none;
  height: 5px;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  background: linear-gradient(to right, #7C643C 50%, #333 50%);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #E4D4BA;
  border: 1.5px solid var(--highlight-color);
  transform: scaleX(0.5) rotate(45deg);
  margin-top: -5px;
  cursor: pointer;
}

input:not([type]), input[type="text"], input[type="password"]
{
  border: solid gray 1px;
  padding: 2px 8px 2px;
  box-sizing: border-box;
  width: 100%;
}

input.text-input {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #7C643C;
  padding: 2px 8px 2px;
}

input.h2-input {
  font-size: 1.5em;
  background: none;
  border: none;
  outline: none;
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
}

.tag-picker {
  position: absolute;
  top: 0;
  background-color: black;
  border: 0.5px solid gray;
  box-sizing: border-box;
  width: 250px;
  max-height: 150px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.tag-search-bar {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  background-color: #262626;
  border: none;
  padding: 0.3rem;
}

input.tag-search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.tag-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 6px 0px 6px;
}

.tag {
  border: 0;
  border-radius: 0.1rem;
  padding: 0.05rem 0.5rem 0.05rem;
  align-items: center;
  align-self: flex-start;
}

.tag-edit-menu {
  position: absolute;
  background-color: rgba(50, 50, 50, 1);
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 5;
  box-shadow: 0 0 15px black;
}

.tag-edit-input {
  background: rgba(70, 70, 70, 1);
  border: none;
  border-radius: 0.5rem;
}

.tag-options {
  display: flex;
  flex-direction: column;

  button {
    background: none;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    text-align: left;
    display: "flex";
    align-items: "center";
    padding: 0.2rem 0.5rem 0.2rem;

    &:hover {
      background-color: rgba(70, 70, 70, 1);
    }

    &.is-active {
      color: var(--highlight-color);
    }
  }
}

.menu-text {
  font-size: 14px;
  color:gray;
  margin: 0.3rem;
}

.tag-colour-swatch {
  height: 1em;
  width: 1em;
  margin: 0 0.4rem 0;
  border-radius: 0.2rem;
}

.search-result {
  padding: 0.3rem 0.5rem 0.3rem;
  background-color: transparent;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &.active {
    background-color: var(--secondary-color);
  }
}

.search-result:hover {
  background-color: var(--secondary-color);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.settings-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.settings-menu {
  position: relative;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-frame {
  position: absolute;
  height: 100%;
}

.settings-frame-bg {
  position: absolute;
  opacity: 85%;
  height: 100%;
}

.settings-close-button {
  all: unset;
  position: absolute;
  z-index: 12;
  right: 0;
  transform: translate(50%, -50%);
}

.settings {
  position: relative;
  height: 80%;
  aspect-ratio: 64 / 55;
}

.circle {
  border: none;
  position: absolute;
  background: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(8px, 8px);
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-button {
  all: unset;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
}

.side-button.selected {
  color: var(--highlight-color);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option-label {
  width: 150px;
}

.vertical-line {
  position: absolute;
  top: -4.5%;
  background: #B48F64;
  background: linear-gradient(0deg, #6E462C 0%, #B48F64 50%, #6E462C 100%);
  width: 1px;
  height: 109%;
}

.dot {
  background-color: gray;
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.quest-list {
  width: 22rem;
  background: rgba(0, 0, 0, 0.75);
  border: solid gray 1px;
  padding: 1rem 0 1rem;
}

.todo-item {
  display: grid;
  grid-template-columns: 25px auto 25px;
  align-items: center;
  padding: 0.3rem 0.5rem 0.4rem 1rem;
}

.todo-item.selected {
  background: #7C643C;
  background: linear-gradient(90deg,rgba(124, 100, 60, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  outline: solid var(--highlight-color) 1px;
}

.quest-details-panel {
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5rem 1rem 1rem;
  border: solid gray 1px;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.delete-button {
  position: absolute;
  top: 100%;
  right: 0;
}

.tab-list {
  width: 10rem;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  border: solid gray 1px;
}

.add-button {
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
  border: none;
  background: none;
}

.add-button:hover {
  color: var(--highlight-color);
}

::selection {
  background: rgba(39, 108, 187, 0.5);
}

.tiptap {
  outline: none;
  margin: 0;

  * {
    margin: 0;
  }

  ul, ol {
    padding-left: 2em;
  }
}

.tiptap.ProseMirror {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.tiptap:focus {
  outline: dotted 2px rgba(100, 100, 100, 0.5);
}

.bubble-menu {
  background-color: rgba(50, 50, 50, 1);
  padding: 0.2em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px black;

  button {
    background: none;
    border: none;
    border-radius: 0.4em;
    padding: 0.2em 0.4em 0.2em;

    &:hover {
      background-color: rgba(70, 70, 70, 1);
    }

    &.is-active {
      color: var(--highlight-color);
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}