/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

@font-face {
  font-family: 'Piston Black';
  src: local('Piston Black'), url(./assets/PistonBlack-Regular.ttf) format('truetype');
}

/* Main */
:root {
  --highlight-color: #D8AF67;
  --medium-highlight-color: #7C643C;
  --dark-highlight-color: rgba(124, 100, 60, 0.5);
  --secondary-color: #262626;
  --font-stack: 'EB Garamond', 'Georgia', serif;
  --font-size: 16px;

  --h1-font-size: 2rem;

  --heading-font: "Cinzel Decorative", serif;
  --heading-font-weight: 700;
  --heading-letter-spacing: 0.5rem;
  --heading-color: #eccd99;
  --heading-text-shadow:
    0.1rem 0.1rem 0 rgb(89, 59, 11),
    0 0 0.3rem rgb(255, 157, 0),
    0 0 1rem rgb(212, 140, 24);

  --subheading-font: "Cinzel", serif;
  --subheading-font-weight: 400;
  --subheading-color: #ffe0ac;
  --subheading-text-shadow:
    0 0 0.3rem rgb(255, 157, 0),
    0 0 1rem rgb(212, 140, 24);

  --checkbox-inner-box-shadow: rgb(255, 187, 78);
  --checkbox-outer-box-shadow: rgb(255, 187, 78, 0.5);

  --hover-color: #d2d2d2;
  --border-color: gray;
}

.theme-mission {
  --font-stack: "Manrope", sans-serif;
  --font-weight: 400;
  --font-size: 0.9rem;

  --highlight-color: rgb(233, 64, 64);
  --medium-highlight-color: rgb(164, 39, 39);
  --dark-highlight-color: rgb(61, 18, 18);
  /* --highlight-color: rgb(120, 190, 255); */
  /* --medium-highlight-color: rgb(63, 108, 150); */
  /* --dark-highlight-color: rgb(37, 61, 83); */

  --h1-font-size: 2rem;

  --heading-font: "Tomorrow", sans-serif;
  --heading-font-weight: 700;
  --heading-letter-spacing: 0.4rem;
  --heading-color: white;
  --heading-text-shadow:
    0 0 0.2rem white,
    0 0 1rem white;
  --heading-text-transform: uppercase;

  --subheading-font: "Tomorrow", sans-serif;
  --subheading-font-weight: 300;
  --subheading-selected-font-weight: 400;
  --subheading-letter-spacing: 0;
  --subheading-color: rgb(255, 255, 255);
  --subheading-text-shadow:
    0 0 0.2rem white,
    0 0 1rem white;
  --subheading-text-transform: uppercase;

  --label-font-weight: 500;
  --label-text-transform: uppercase;

  --checkbox-inner-box-shadow: rgb(217, 51, 51);
  --checkbox-outer-box-shadow: rgba(255, 78, 78, 0.5);
  /* --checkbox-inner-box-shadow: rgb(51, 162, 217);
  --checkbox-outer-box-shadow: rgba(78, 208, 255, 0.5); */

  --hover-color: rgb(176, 217, 255);

  --forgot-password-size: 0.8rem;
  --forgot-password-color: gray;
}

.theme-enchantment {
  --font-stack: "Simonetta", "Crimson Text", serif;
  --font-weight: 400;
  --highlight-color: #e7a780;
  --medium-highlight-color: #d38d79;
  --dark-highlight-color: #073a39;

  --h1-font-size: 3rem;

  --heading-font: "Cormorant SC", serif;
  --heading-font-weight: 700;
  --heading-letter-spacing: 0;
  --heading-color: #ffffff;
  --heading-text-shadow:
    0.1rem 0.1rem 0 #1c2921,
    0 0 0.3rem #00540d,
    0 0 1rem #003a03;
    /* 0 0 0.3rem rgb(255, 0, 166),
    0 0 1rem rgb(212, 24, 187); */

  --subheading-font: "Cormorant SC", serif;
  --subheading-font-weight: 400;
  --subheading-selected-font-weight: 700;
  --subheading-letter-spacing: 0;
  --subheading-color: #f2ccb5;
  --subheading-text-shadow:
    0 0 0.2rem rgb(15, 47, 19),
    0 0 0.3rem #54ff77,
    0 0 1rem #008636;

  --border-color: var(--highlight-color);
}

body, button, input {
  background-color: black;
  margin: 0;
  font-family: var(--font-stack);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
  background: var(--heading-background);
  background-clip: var( --heading-background-clip);
  color: var(--heading-color);
  text-shadow: var(--heading-text-shadow);
  text-transform: var(--heading-text-transform);
  font-size: var(--h1-font-size);
  line-height: 1;
  margin-block: 1rem;
}

h2, h3 {
  font-family: var(--subheading-font);
  font-weight: var(--subheading-selected-font-weight);
  text-transform: var(--subheading-text-transform);
  color: var(--subheading-color);
  text-shadow: var(--subheading-text-shadow);
}

h3 {
  margin: 0.2em 0 0.2em;
  font-size: 16px;
}

.label {
  font-family: var(--label-font);
  font-weight: var(--label-font-weight);
  text-transform: var(--label-text-transform);
}

button {
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid gray;
  cursor: pointer;
}

input {
  outline:none;
}

input[type="date"] {
  background: none;
  border: 0.5px solid gray;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.date-input {
  box-sizing: border-box !important;
  padding: 0 !important;
}

.date-clear-button::after {
  background: grey !important;
}

input[type="checkbox"] {
  appearance: none;
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid var(--highlight-color);
  transform: rotate(45deg);
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--highlight-color);
  box-shadow:
    0 0 0.3rem var(--checkbox-inner-box-shadow);
}

input[type="checkbox"]:checked {
  box-shadow:
    0 0 0.7rem var(--checkbox-outer-box-shadow);
}

input[type="range"] {
  appearance: none;
  height: 5px;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  background: linear-gradient(to right, var(--medium-highlight-color) 50%, #333 50%);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #E4D4BA;
  border: 1.5px solid var(--highlight-color);
  transform: scaleX(0.5) rotate(45deg);
  margin-top: -5px;
  cursor: pointer;
}

input:not([type]), input[type="text"], input[type="password"]
{
  border: solid gray 1px;
  padding: 2px 8px 2px;
  box-sizing: border-box;
  width: 100%;
}

input.text-input {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid var(--medium-highlight-color);
  padding: 2px 8px 2px;
}

.h2-input {
  font-size: 1.5em;
  font-family: var(--label-font);
  font-weight: var(--label-font-weight);
  text-transform: var(--label-text-transform);
  background: none;
  border: none;
  outline: none;
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
  min-width: 100%;
  max-width: 200px;
}

select {
  font: var(--font-stack);
  background: none;
  border: 0.5px solid var(--highlight-color);
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  outline: 0;
}

select:hover {
  color: var(--hover-color);
}

.tag-picker {
  position: absolute;
  top: 0;
  background-color: black;
  border: 0.5px solid gray;
  box-sizing: border-box;
  width: 250px;
  max-height: 150px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.tag-search-bar {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  background-color: var(--secondary-color);
  border: none;
  padding: 0.3rem;
}

input.tag-search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.tag-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 6px 0px 6px;
}

.tag {
  border: 0;
  border-radius: 0.1rem;
  padding: 0.05rem 0.5rem 0.05rem;
  align-items: center;
  align-self: flex-start;
  font-family: var(--label-font);
  font-weight: var(--label-font-weight);
  text-transform: var(--label-text-transform);
}

.tag-edit-menu {
  position: absolute;
  background-color: rgba(50, 50, 50, 1);
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 5;
  box-shadow: 0 0 15px black;
}

.tag-edit-input {
  background: rgba(70, 70, 70, 1);
  border: none;
  border-radius: 0.5rem;
  margin: 0 0 0.3rem;
}

.tag-options {
  display: flex;
  flex-direction: column;

  button {
    background: none;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    text-align: left;
    display: "flex";
    align-items: "center";
    padding: 0.2rem 0.5rem 0.2rem;

    &:hover {
      background-color: rgba(70, 70, 70, 1);
    }

    &.is-active {
      color: var(--highlight-color);
    }
  }
}

.menu-text {
  font-size: 14px;
  color:gray;
  margin: 0.3rem;
}

.tag-colour-swatch {
  height: 1em;
  width: 1em;
  margin: 0 0.4rem 0;
  border-radius: 0.2rem;
}

.search-result {
  padding: 0.3rem 0.5rem 0.3rem;
  background-color: transparent;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &.active {
    background-color: var(--secondary-color);
  }
}

.search-result:hover {
  background-color: var(--secondary-color);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.settings-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.settings-menu {
  position: relative;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-frame {
  position: absolute;
  height: 100%;
}

.settings-frame-bg {
  position: absolute;
  opacity: 85%;
  height: 100%;
}

.settings-close-button {
  all: unset;
  position: absolute;
  z-index: 12;
  right: 0;
  transform: translate(50%, -50%);
}

.settings {
  position: relative;
  height: 80%;
  aspect-ratio: 64 / 55;
}

.circle {
  border: none;
  position: absolute;
  background: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(8px, 8px);
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-button {
  all: unset;
  font-size: 17px;
  font-family: var(--subheading-font);
  text-transform: var(--subheading-text-transform);
  font-weight: var(--subheading-font-weight);
  letter-spacing: var(--subheading-letter-spacing);
  text-align: right;
  cursor: pointer;
}

.side-button:hover {
  color: var(--hover-color);
}

.side-button.selected {
  color: var(--subheading-color);
  text-shadow: var(--subheading-text-shadow);
  font-weight: var(--subheading-selected-font-weight);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option-label {
  width: 150px;
  text-transform: var(--label-text-transform);
}

.vertical-line {
  position: absolute;
  top: -4.5%;
  background: #B48F64;
  background: linear-gradient(0deg, #6E462C 0%, #B48F64 50%, #6E462C 100%);
  width: 1px;
  height: 109%;
}

.dot {
  background-color: gray;
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.quest-list {
  min-width: 20rem;
  max-width: 32rem;
  background: rgba(0, 0, 0, 0.75);
  border: solid var(--border-color) 1px;
  padding: 1rem 0 1rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.quests {
  flex: 1;
  min-height: 0;
}

.todo-item {
  display: grid;
  grid-template-columns: 25px auto 25px;
  align-items: center;
  padding: 0.3rem 0.5rem 0.4rem 1rem;
}

.todo-item.selected {
  background: #7C643C;
  background: linear-gradient(90deg,var(--dark-highlight-color) 0%, rgba(0, 0, 0, 0) 100%);
  outline: solid var(--highlight-color) 1px;
}

.todo-item-title {
  font-family: var(--label-font);
  font-weight: var(--label-font-weight);
  text-transform: var(--label-text-transform);
}

.todo-item-title.completed {
  color: gray;
}

.quest-details-panel {
  background: rgba(0, 0, 0, 0.75);
  padding: 1rem 1rem 1rem;
  border: solid var(--border-color) 1px;
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.quest-options-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(50, 50, 50, 1);
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 5;
  box-shadow: 0 0 15px black;
}



.tab-list {
  width: 10rem;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  border: solid var(--border-color) 1px;
}

.add-button {
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
  border: none;
  background: none;
}

.add-button:hover {
  color: var(--highlight-color);
}

::selection {
  background: rgba(39, 108, 187, 0.5);
}

.tiptap {
  outline: none;
  margin: 0;

  * {
    margin: 0;
  }

  ul, ol {
    padding-left: 2em;
  }
}

.tiptap.ProseMirror {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.tiptap:focus {
  outline: dotted 2px rgba(100, 100, 100, 0.5);
}

.bubble-menu {
  background-color: rgba(50, 50, 50, 1);
  padding: 0.2em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px black;

  button {
    background: none;
    border: none;
    border-radius: 0.4em;
    padding: 0.2em 0.4em 0.2em;

    &:hover {
      background-color: rgba(70, 70, 70, 1);
    }

    &.is-active {
      color: var(--highlight-color);
    }
  }
}

.confirmation-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8rem;
  width: 20rem;
  transform: translate(-50%, -50%);
  background-color: rgba(50, 50, 50, 1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  z-index: 7;
  box-shadow: 0 0 15px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.popup-button {
  background: none;
  border: solid gray 1px;
  border-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em;
  width: 100%;

  &:hover {
    background-color: rgba(70, 70, 70, 1);
  }
}

.popup-button.delete {
  color: red;
  border: solid red 1px;

  &:hover {
    background-color: rgb(85, 54, 54);
  }
}

.icon-wrapper {
  all: unset;
  display: inline-flex;
  height: auto;
  width: auto;
  cursor: pointer;
  align-self: center;
}

.icon, .icon-button {
  fill: white;
  height: 1rem;
  width: auto;
}

.icon-button:hover {
  fill: var(--highlight-color);
}

.forgot-password-button {
  font-size: var(--forgot-password-size);
  color: var(--forgot-password-color);
  background: none;
  border: none;
  text-shadow: 0 0 4px black;
  padding: 0;
  text-transform: none; 
}

.forgot-password-button:hover {
    color: var(--highlight-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}